In [1]:
import pandas as pd

# Load CSV
df = pd.read_csv("schedule_comma_separated.txt")

In [3]:
df.head()

         Date             Home Team           Away Team
0  01/12/2025         Atlanta Hawks     Detroit Pistons
1  01/12/2025   Cleveland Cavaliers      Indiana Pacers
2  01/12/2025       Milwaukee Bucks  Washington Wizards
3  01/12/2025     Charlotte Hornets       Brooklyn Nets
4  01/12/2025  Los Angeles Clippers          Miami Heat

In [4]:
# Parse dates (important!)
df["Date"] = pd.to_datetime(df["Date"], format="%d/%m/%Y")

In [7]:
start_date = "2025-12-29"
end_date = "2026-01-06"

mask = (df["Date"] >= start_date) & (df["Date"] <= end_date)
df_range = df[mask]

In [8]:
# Count home games
home_counts = df_range["Home Team"].value_counts()

# Count away games
away_counts = df_range["Away Team"].value_counts()

# Combine both
games_per_team = home_counts.add(away_counts, fill_value=0).astype(int)

# Sort by most games
games_per_team = games_per_team.sort_values(ascending=False)

print(games_per_team)

Atlanta Hawks             5
Charlotte Hornets         5
Cleveland Cavaliers       5
Chicago Bulls             5
Golden State Warriors     5
Denver Nuggets            5
Indiana Pacers            5
Portland Trail Blazers    5
Orlando Magic             5
Oklahoma City Thunder     5
New Orleans Pelicans      5
New York Knicks           5
Minnesota Timberwolves    5
Miami Heat                5
Washington Wizards        5
San Antonio Spurs         5
Sacramento Kings          5
Phoenix Suns              5
Dallas Mavericks          4
Brooklyn Nets             4
Boston Celtics            4
Detroit Pistons           4
Los Angeles Lakers        4
Los Angeles Clippers      4
Houston Rockets           4
Milwaukee Bucks           4
Memphis Grizzlies         4
Philadelphia 76ers        4
Toronto Raptors           4
Utah Jazz                 4
Name: count, dtype: int64

In [9]:
def games_per_team_in_range(csv_path, start_date, end_date):
    df = pd.read_csv(csv_path)
    df["Date"] = pd.to_datetime(df["Date"], format="%d/%m/%Y")

    df = df[(df["Date"] >= start_date) & (df["Date"] <= end_date)]

    home = df["Home Team"].value_counts()
    away = df["Away Team"].value_counts()

    return home.add(away, fill_value=0).astype(int).sort_values(ascending=False)

In [10]:
print(games_per_team_in_range(
    "schedule_comma_separated.txt",
    "2025-12-19",
    "2025-12-27"
))

Atlanta Hawks             5
Cleveland Cavaliers       5
Chicago Bulls             5
Indiana Pacers            5
Denver Nuggets            5
Dallas Mavericks          5
Houston Rockets           5
San Antonio Spurs         5
Utah Jazz                 5
Orlando Magic             5
New Orleans Pelicans      5
New York Knicks           5
Minnesota Timberwolves    5
Miami Heat                5
Oklahoma City Thunder     4
Milwaukee Bucks           4
Philadelphia 76ers        4
Phoenix Suns              4
Charlotte Hornets         4
Boston Celtics            4
Detroit Pistons           4
Memphis Grizzlies         4
Sacramento Kings          4
Portland Trail Blazers    4
Toronto Raptors           4
Washington Wizards        4
Los Angeles Lakers        3
Los Angeles Clippers      3
Golden State Warriors     3
Brooklyn Nets             3
Name: count, dtype: int64

In [11]:
def pretty_print_games_per_team(games_series, batch_size=3):
    """
    games_series: pandas Series with team names as index and number of games as values
    batch_size: number of teams per row
    """
    # Group teams by number of games
    grouped = {}
    for team, games in games_series.items():
        grouped.setdefault(games, []).append(team)
    
    # Print in descending order of games
    for games_count in sorted(grouped.keys(), reverse=True):
        teams = grouped[games_count]
        print(f"Teams playing {games_count} games:")
        
        # Print in batches
        for i in range(0, len(teams), batch_size):
            print(", ".join(teams[i:i+batch_size]))
        print()  # blank line for separation

In [22]:
games = games_per_team_in_range(
    "schedule_comma_separated.txt",
    "2025-12-29",
    "2025-12-31"
)

pretty_print_games_per_team(games, batch_size=3)

Teams playing 2 games:
Atlanta Hawks, Charlotte Hornets, Cleveland Cavaliers
Chicago Bulls, Golden State Warriors, Denver Nuggets
Indiana Pacers, Portland Trail Blazers, Orlando Magic
Oklahoma City Thunder, New Orleans Pelicans, New York Knicks
Milwaukee Bucks, Minnesota Timberwolves, Washington Wizards
San Antonio Spurs, Toronto Raptors, Phoenix Suns

Teams playing 1 games:
Dallas Mavericks, Brooklyn Nets, Boston Celtics
Detroit Pistons, Los Angeles Lakers, Los Angeles Clippers
Houston Rockets, Memphis Grizzlies, Miami Heat
Philadelphia 76ers, Sacramento Kings, Utah Jazz